<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.BakExecuteDateMapper">

    <resultMap id="BaseResultMap" type="generator.entity.BakExecuteDate">
            <result property="execute_date" column="execute_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        execute_date
    </sql>
</mapper>
